<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="index1.css">
    <script src="LOGIN.js"></script>

</head>
<body>
<section class="login-page">
    <h1>HH LOGIN</h1>
    <form action="">
        <div class="int-area">
            <input type="text" name="id" id="id" autocomplete="off" required placeholder="User Name">
            <label for="id"></label>
        </div>
        <div class="int-area">
            <input type="password" name="pw" id="pw" autocomplete="off" required placeholder="User Age">
            <label for="pw"></label>
        </div>
        <div class="button-area">
            <button>GO</button>
        </div>
    </form>
    <div class="caption">
        <a href="">비밀번호를 잊으셨나요?</a>
    </div>
</section>
</body>
</html>