@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box;}
body {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: black;

}

h1 {
    font-size: 23px;
    color: blanchedalmond;
    text-align: center;
    position: relative;
    align-items: center;
}